body {
    background-color: lightseagreen;
}


.titel {
    color: rgb(246, 251, 251);
    text-align: center;
    font-size: 70px;
}

.bodyimage {
    width: 70px;
    height: auto;
}

.text1 {
    font-size: 30px;
    font-weight: 40;
    color: white;
}
.bild1 {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.bild3 {
    width: 180px;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container2 {
    position: relative;
    display: flex;

}

.bildabsolute {
    height: 150px;
    width: 150px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 40%;
}

.bildzwei {
    height: 150px;
    width: 150px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 0;
}